html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    /*overflow-x: hidden;*/
    /*overflow-y: hidden;*/
    overflow-y:unset ;
}

html, body {
    height: 100%;
    background: #fff;
    font-weight: 400;
    letter-spacing: -0.4px;
    font-size: 17px;
    color: #333;
    font-family: Karla, sans-serif;


}

.linie {
    margin-top: 20vh;
    margin-left: 22%;
    display: flex;
    flex-direction: column;
    min-height: 350px;
    height: 700px
    /*background: var(--main-purple-color) url("../images/night.jpg") no-repeat center / cover;*/
}

.subtitle {
    display: flex;
    flex-direction: column;
}

.subtitle1 {
    color: #4286f4;
    font-size: 2.6em;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    letter-spacing: -1.4px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.subtitle2 {
    font-size: 2.6em;
    font-weight: 700;
    letter-spacing: -1.4px;
}

.title {
    font-weight: 700;
    letter-spacing: -1.4px;
    color: #333;

}

.descibe {
    display: flex;
    flex-direction: row;
}

.text > p, p {
    width: 400px;
    color: #888;
    line-height: 1.7em;
    vertical-align: text-top;
    font-family: Karla, sans-serif;
    /* height: 100%; */
    background: #fff;
    font-weight: 400;
    letter-spacing: -0.4px;
    font-size: 17px;
    /*color: #333;*/
}

.input {
    margin-left: 7%;
    margin-right: 7%;
}

@media screen and (min-width: 1000px) {
    .input {
        margin-right: 40%;
        margin-top: 1.2%;
    }

    .descibe {
        /*margin-right: px;*/
    }

}

.help {
    margin-top: 15%;
}

.help > p {
    font-family: Karla, sans-serif;
    line-height: 1.7em;
    font-weight: 400;
    letter-spacing: -0.4px;
    font-size: 17px;
    color: #333;

}

.gmail {
    color: #888;
}


#copyright {
    height: 12px;
}

.butontrimitere {
    background-color: #4286f4;
    border: 2px solid #4286f4;
    font-size: 25px;
    padding: 0.3em;
    color: white;
}

.butontrimitere:hover {
    background-color: #288efa;
    border: 2px solid #288efa;
}


.subtitle1 {
    color: #4286f4;
}

.contact:focus {
    border: 2px solid #2196F3;
    color: #2196F3;
}

.contact:disabled {
    color: #2759AE;
}

.linie {
    /*margin-bottom: 3%;*/
    margin-bottom: 0;
}
footer{
    z-index: 666;
}

.page-footer>ul{
    list-style-type: none;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #cccccc;
    box-sizing: border-box;
}