.suport-body
{
    font-family: 'Didact Gothic', sans-serif;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
}

#suport-title
{
    text-align: center;
    color: black;
    padding: 5px;
    font-size: 25px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0.5, 0.2), 0 6px 20px 0 rgba(0, 0, 0.5, 0.19);
    background-color: #99ccff;
    width: 100%;

}

#suport-title h1
{
    margin: 0;
}

#suport-help
{
    text-align: center;
    color: black;
    font-size: 25px;
    margin-left: 5%;
    margin-right: 5%;
}

.question-answer
{
    display: none;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.question-answer li
{
    font-family: 'Patrick Hand', cursive;
}

.button-display-answer
{
    font-family: 'Didact Gothic', sans-serif;
    cursor: pointer;
    background-color: white;
    color: blue;
    border-top: 1px solid black;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 20px;
    outline: none;
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    font-max-size: 25px;
    font-min-size: 15px;
    width: 100%;
}

.button-display-answer:after
{
    content: "\23EC";
    float: right;
}

.activeButton:after
{
    content: "\23EB";
}

.activeButton, .button-display-answer:hover
{
    background-color: white;
}

.customHr
{
    margin: 2px;
}