html, body, .viewport {
    width: 100%;
    height: 100%;
    margin: 0;
}
html, body {
    height: 100%;
    background: #fff;
    font-weight: 400;
    letter-spacing: -0.4px;
    font-size: 17px;
    color: #333;
    font-family: Karla;
    font-size: 17px;
}
.linie{
    margin-top: 20vh;
    margin-left: 22%;
    display: flex;
    flex-direction: column;
    min-height: 350px;
    height: 1000px;
    /*background: var(--main-purple-color) url("../imgini/night.jpg") no-repeat center / cover;*/
}

.subtitle{
    display:flex ;
    flex-direction: column;
}

.subtitle1{
    color: #FF0400;
    font-size: 2.6em;
    font-family: 'Karla';
    font-weight: 700;
    letter-spacing: -1.4px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.subtitle2{
    font-size: 2.6em;
    font-weight: 700;
    letter-spacing: -1.4px;
}
.title{
    ont-weight: 700;
    letter-spacing: -1.4px;
    color: #333;

}
.descibe{
    display: flex;
    flex-direction: row;
}

.text >p,p{
    width: 400px;
    color: #888;
    line-height: 1.7em;
    vertical-align: text-top;
    font-family: Karla;
    /* height: 100%; */
    background: #fff;
    font-weight: 400;
    letter-spacing: -0.4px;
    font-size: 17px;
    /*color: #333;*/
}
.input{
    margin-left: 7%;
    margin-right: 7%;
}

@media screen and (min-width: 1000px){
    .input{
        margin-right: 40%;
        margin-top: 1.2%;
    }
    .descibe{
        /*margin-right: px;*/
    }

}
.help{
    margin-top: 15%;
}
.help>p{
    font-size: 1em;
    font-family: Karla;
    color: #888;
    line-height: 1.7em;
    font-weight: 400;
    letter-spacing: -0.4px;
    font-size: 17px;
    color: #333;

}
.gmail{
    color: #888;
}


#copyright{
    height: 12px;
}