.utils {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}

.search-event {
    margin-bottom: 10px;
}

#search-event-input {
    font-size: 20px;
    margin-right: 50px;
}

.buttons {
    justify-content: flex-end;
}

.button-common {
    font-size: 21px;
    background-color: #5AA8FB;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0.5, 0.2), 0 6px 6px 0 rgba(0, 0, 0.5, 0.19);
    margin: 0 5px 10px 5px;
}

#add-button {
    color: #000024;
}

.show-older-events {
    color: #00001a;
}

.remove-events {
    color: black;
}

.data {

}

.data-show {
    font-size: 20px;
    width: 100%;
}

.data-show th {
    text-align: center;
}

.data-show td {
    text-align: center;
}

.data-show tr:nth-child(odd) {
    background-color: #e0efff;
}

.data-show tr:nth-child(even) {
    background-color: white;
}

.data-show tr:nth-child(1) {
    background-color: #9cbfe5;
}

.close-modal-div {
}

.modal-inside-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.modal-inside-content h2 {
    text-align: center;
    color: royalblue;
}

#add-form {

}

#add-form textarea {
    resize: none;
}

.left {
    display: flex;
    flex-direction: column;
    width: 35%;
    float: left;
}

.left label {
    text-align: center;
}

.left input {
    margin: 0 0 5px 0;
}

.left input[type=number] {
    width: 50px;
}

.right {
    display: flex;
    flex-direction: column;
    width: 64%;
    float: right;
}

.right label {
    text-align: center;
}

.right .row {
    margin-bottom: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button-add-event-submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media only screen and (max-width: 1050px) {
    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.button-add-event-submit button {
    font-size: 21px;
    background-color: #5AA8FB;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0.5, 0.2), 0 6px 6px 0 rgba(0, 0, 0.5, 0.19);
    margin: 10px 0 0 0;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: dodgerblue;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}