html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.body {
    height: 85%;
    display: flex;
    flex-direction: row;
}

.page {
    display: flex;
    flex-direction: row;
    /*margin-top: 100px;*/
    height: 100%;
}


.menu {
    display: flex;
    flex-direction: column;
    font-size: 34px;
    margin-left: 0;
    /*padding-left: 4%;*/
    /*padding-right: 14%;*/
    background-color: #2196F3;
    height: 100%;

    /*padding-left: 6%;*/
    font-family: Karla, sans-serif;
}


.setting {
    width: 100%;
}

.ContulM > h2 {
    /*margin: 6% 6% 6% 12%;*/
    margin-left: 6%;
    font-size: 5vh;
}

.line {
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    margin-right: 12%;
    flex-wrap: wrap;
    justify-content: space-between;
}

textarea {
    width: 100%;
    height: 40%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.line > span {
    /*margin-left: 13%;*/
    width: 100%;

    margin-top: 3%;
}

.pereche {
    width: 100%;
}

input {
    width: 14%;
}

.descriere {
    width: 100%;
    height: 40%;
    margin-left: 10%;
    padding: 0;
}


.buttonMenu {
    width: 100%;
    /*width: 200%;*/
    /*margin-top: 40px;*/
    /*margin: 6%;*/
    /*margin-left: 45%;*/
    font-family: Karla, sans-serif;
    font-size: 30px;
    background-color: #2196F3;
    color: white;
    padding: 15px;
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    margin-right: 100px;

}

.buttonMenu:hover {
    background-color: #288efa;
    color: #cccccc;
}

.buttonMenu:active {
    background-color: #288efa;
}

.buttonMenu:target {
    background-color: #288efa;
}

.image {
    display: flex;
    flex-direction: column;
    margin: 10%;
    font-size: 25px;
    text-align: center;
}

.page1 {
    display: flex;
    flex-direction: row;
    width: 100%;

}


.buttoncontact {
    /*background-color: #4286f4;*/
    color: white;
    /*margin: 5%;*/
    margin-top: 16%;
    margin-bottom: 16%;
    border: none;
    background: #2196F3;
    cursor: pointer;
    width: 50%;
    padding: 20px 40px 20px 25%;
    font-size: 40px;
    text-align: center;

}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #cccccc;
    box-sizing: border-box;
}

#datecontact, #preferinte {
    display: none;
}

.logare, .savebutton {
    color: white;
    background-color: #5aa8fb;
    border: 2px solid #5aa8fb;
    font-size: 20px;
    padding: 7px;
    margin-top: 10px;
}


/*checkbox*/

.containercheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.containercheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containercheck:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containercheck input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containercheck input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.containercheck .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.labels {
    font-size: 29px;
}

#teste {
    display: none;
}

.imageaccount {
    border-radius: 100%;
}

.descriere {
    color: #888888;
    font-size: 23px;
}

.descriere:focus {
    border: 2px solid #2196F3;
    color: #2196F3;
}

.descriere:disabled {
    color: #2759AE;
}

.containerinput:disabled {
    color: #2759AE;
}

.containerinput {
    color: #888888;
}

#sigin {
    margin-right: 30px;
}

.menu {
    width: 25%;
}

@media screen and (max-width: 1260px) {
    .buttoncontact {
        font-size: 35px;
    }

    .buttonMenu {
        font-size: 23px;
    }



    .containerinput {
        height: 35px;
        font-size: 15px;
    }

    .line2 {
        flex-wrap: wrap;
    }

    .butoaneflex {
        flex-wrap: wrap;
    }

    .butoaneflex > button {
        margin-top: 15px;
    }

    .descriere {
        font-size: 15px;
    }


}

#inputdescriere {
    margin-left: 0;
    height: 190px;
    padding: 0;
}

.block {

    width: 411px;
    height: 450px;

    margin-left: 20px;

}


.page-footer {
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 0;
    border-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.page-footer ul {
    display: flex;
    font-size: 1.5rem;
    padding-bottom: 25px;
    margin-bottom: 25px;
    /*left: 10;*/
}

.page-footer > ul {
    list-style-type: none;
}

.upload {
    /*margin-top: 10px;*/
    width: 300px;
}

input[type="file"] {
    display: none;
}

.labelFile {
    display: block;
    color: white;
    background-color: #5aa8fb;
    border: 2px solid #5aa8fb;
    font-size: 20px;
    padding: 7px 0;
    width: 300px;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}
.image{
    height: 300px;
    width: 300px;
    margin: 0;
    margin-bottom: 80px;
}
